html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}

.extra-div h2,
.servicediv h2 {
    font-size: 20px;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

i {
    color: #57a2d3fa;
}


/**************** Actual CSS starts ******************/

.header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/body_img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}

.nav-item a {
    color: #fff !important;
    font-weight: bold;
}

.header-section {
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.header-buttons a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #fff;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover {
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
}


/******************* extra div css start **************** */


/* /heading animations  start */

.main-heading .animate__animated {
    opacity: 1;
}


/* /heading animations  end */

.header-extradiv {
    width: 100%;
    height: auto;
    margin: 60px 0;
    text-align: center;
}

.extra-div {
    background: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}

.extra-div:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
}


/******************* extra div css end **************** */


/******************* Service offer css start **************** */

.serviceoffers {
    background: #f7f7f9;
    padding: 30px 0;
    margin-bottom: 25px;
}

.headings {
    margin-bottom: 50px;
}

.headings h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.names h1 {
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0px;
}

.service-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 0.6rem !important;
    margin-bottom: 25px !important;
    background: #606060;
}


/******************* Service offer css end **************** */


/******************* Project work css start **************** */

.project-work {
    margin: 60px 0;
}

.project-heding p {
    font-size: 20px;
}

.project-work h1 {
    font-size: 2rem;
    text-align: center;
}


/******************* Project work css end **************** */


/******************* Pricing  css start **************** */

.pricing {
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}

.pricing p {
    font-weight: 500;
}

.pricing:before {
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
}

.money {
    font-size: 40px;
    line-height: 1;
    color: #606060;
}

.pricingOneTime {
    font-size: 21px;
    font-weight: 700;
    font-family: math;
    color: white;
    padding: 2px 0px 10px;
    background: #417ab2;
    padding-top: 12px;
    margin: 12px 0px;
}

.pricingMonthly {
    font-size: 21px;
    font-weight: 700;
    font-family: math;
    color: white;
    padding: 12px 0px 10px;
    background: #417ab2;
    margin: 12px 0px;
}

.card {
    transition: 0.4s ease;
}

.card-header {
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding: 25px 0 !important;
}

.card-body {
    padding: 30px 0px !important;
}

.card-body li {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #606060;
}

.card-footer {
    background: white !important;
    padding: 30px 0px !important;
}

.card-footer a {
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #50d1c0;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.card:hover .card-footer a {
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover {
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .card-header,
.card:hover .money {
    color: #50d1c0;
}

.card-second {
    transform: translateY(-20px);
}


/* service animation */

.card-1 {
    opacity: 0;
}

.card-1 .animate__animated {
    opacity: 1;
}

.card-2 {
    opacity: 0;
}

.card-2 .animate__animated {
    opacity: 1;
}

.card-3 {
    opacity: 0;
}

.card-3 .animate__animated {
    opacity: 1;
}


/******************* Pricing  css end **************** */


/******************* happyclients css start **************** */

.happyclients {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
}

.box {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: 0.3s ease;
}

.box:hover {
    background-color: #16c9f6;
}

.carousel-indicators {
    position: absolute;
    bottom: -60px !important;
}

.carousel-indicators li {
    background-color: #16c9f6 !important;
}

.box a {
    position: relative;
}

.box a img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
}

.box a:after {
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    color: white;
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box h1 {
    font-size: 18px;
    font-weight: 700px;
    color: #000;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 13px;
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}


/******************* happyclients css end **************** */


/******************* Contact US css start **************** */

.footer {
    padding: 15px 0 0;
    margin: auto;
    text-align: center;
}

.footer i {
    padding: 0px 6px;
}

.contactUSHeading {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
}

.address {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 55px;
}

.address div {
    font-size: 19px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 2px;
    color: #676767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.address span {
    font-size: 19px;
    color: #676767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.visible-xs {
    margin: 19px auto 5px;
    width: 140px;
    color: black;
    border: 1px solid gray;
}

.contact {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 55px;
}

.contact div {
    font-size: 19px;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 2px;
    color: #676767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact h4,
p {
    margin: 2px;
    color: #676767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.contact span,
p {
    font-size: 19px;
    color: #676767;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footerReserveRights {
    background: #57a2d3fa;
    color: white;
    font-size: 14px;
    padding: 15px 20px;
    font-weight: 500;
    margin-top: 20px;
}


/******************* Contact US css end **************** */


/******************* Newsletter start **************** */

.newsletter {
    width: 100%;
    height: auto;
    margin: 80px auto;
}

.news-letter {
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-height: 45px;
}

.input-group-text {
    color: #fff !important;
    background: #5bc0de !important;
    border-radius: 0 100px 100px 0px !important;
    min-width: 130px;
    min-width: 45px;
}


/******************* Newsletter end **************** */


/******************* Footer start **************** */

.footersection {
    width: 100%;
    height: auto;
    padding: 70px 0 20px 0;
    background: #00abff;
    position: relative;
}

.footersection p {
    color: #fff;
}

.footersection li a {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}

.footersection h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover {
    background: #606060;
}


/******************* Footer end **************** */


/* *************** media devices *************** */

@media (max-width: 767px) {
    .nav-item {
        text-align: center !important;
    }

    .pricing,
    .happyclients,
    .contactus {
        height: auto;
        margin-top: 20px;
    }

    .card-second {
        transform: translateY(0px);
        margin: 30px 0px;
    }

    .contactus p {
        padding: 0px 50px;
    }

    .client-1,
    .client-2 {
        display: none;
    }

    .footer-div:nth-child(2) {
        text-align: left !important;
    }

    .footer-div {
        margin: 30px 0px;
    }
}